# npm & yarn
**/node_modules/

# Build
dist

# Generated Docs
generated-docs 

# Testing
coverage/
**/coverage/

# IDE support files
**/eclipse
**/venv
**/ivy*
**/.vscode
**/.apt_generated
**/.classpath
**/.factorypath
**/.launch
**/.project
**/.settings
**/.idea
**/*.launch
**/*.tmproj
*.iml
*.ipr
*.iws

# Logs
*.log

# Mac OS X specific
Thumbs.db
Thumbs.db:*
.DS_Store

# Miscellaneous
*~
*#
._*
.#*
*.orig
*.swp