@import "../pages/global";

.layout {
  --sidebar-width: 200px;
  --topbar-height: 50px;
}

.topNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.content {
  position: absolute;
  top: 0;
  left: var(--sidebar-width);
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  padding: 20px;
}
