@import "../pages/global";

.layout {
  @include respond-to("mobile") {
    --sidebar-width: 0px;
  }
  @include respond-to("desktop") {
    --sidebar-width: 200px;
  }
  --topbar-height: 60px;
}

.topNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.content {
  @include respond-to("desktop") {
    position: absolute;
    top: 0;
    left: var(--sidebar-width);
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
  @include respond-to("mobile") {
    padding-top: var(--topbar-height);
  }
  padding: 20px;
}
