@import "../pages/global";

.layout {
  --sidebar-width: 200px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background-color: $menuBackgroundColor;
  color: $menuTextColor;
  overflow-y: auto;
  padding: 20px;
  a {
    color: $menuLinkColor;
    &:hover {
      color: $menuLinkColorHover;
    }
  }
}

.menuSection {
}

.sectionTitle {
  font-size: $twoXlFontSize;
}

.sectionItems,
.sectionSubItems {
  list-style: none;
  padding: 0;
}

.sectionItem {
  padding: 5px 0;
}

.sectionItemHeader {
  font-size: $bodyFontSize;
}

.sectionSubItem {
  padding: 5px 0;
}

.topNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.content {
  position: absolute;
  top: 0;
  left: var(--sidebar-width);
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  padding: 20px;
}
