# Actual ignores
.eslintignore
.eslintrc.js
.gitattributes
.github
.gitignore
.npmignore
.nvmrc
.prettierignore
.prettierrc
docs
docsExtra
jest.config.js
tsconfig.json
typedoc.json

## .gitignore stuff

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
/build/bundle.js
/build/index.html
/build*
/build/*

# Testing
coverage/
.eslintcache

# IDE support files
/eclipse
/venv
/ivy*
/.vscode
/.apt_generated
/.classpath
/.factorypath
/.launch
/.project
/.settings
/.idea
/*.launch
/*.tmproj
.vs/
*.iml
*.ipr
*.iws

# Logs
*.log

# Mac OS X specific
Thumbs.db
Thumbs.db:*
.DS_Store

# Miscellaneous
*~
*#
._*
.#*
*.orig
*.swp

