@import '../../pages/global';

.desktopMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  overflow-y: auto;
  @include respond-to('mobile') {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topbar-height);
  display: flex;
  @include respond-to('desktop') {
    display: none;
  }
}

.mobileMenu,
.desktopMenu {
  background-color: $menuBackgroundColor;
  color: $menuTextColor;
  padding: 20px;
  a {
    color: $menuLinkColor;
    &:hover {
      color: $menuLinkColorHover;
    }
  }
}

.menuSection {
  @include respond-to('mobile') {
    display: none;
  }
}

.menuTitle {
  font-size: 16px;
}

.menuLogo {
  width: 100px;
}

.sectionTitle {
  font-size: $twoXlFontSize;
}

.sectionItems,
.sectionSubItems {
  list-style: none;
  padding: 0;
}

.sectionItem {
  padding: 5px 0;
}

.sectionItemHeader {
  font-size: $bodyFontSize;
  margin: 0;
}

.sectionSubItems {
  padding-left: 10px;
  padding-top: 10px;
}

.sectionSubItem {
  padding: 5px 0;
}
