@import '../../pages/global';

.desktopMenu {
  background-color: $menuBackgroundColor;
  color: white;

  padding: 24px 96px 18px;

  display: flex;
  align-items: center;
}

.desktopMenuLinks {
  display: flex;
  flex: 1 1 100px;
  justify-content: flex-end;
  margin: 0;
  align-self: stretch;
  align-items: center;
}

.desktopMenuLink {

  display: flex;
  align-self: stretch;
  margin-left: 40px;
  align-items: center;
  &:hover {
    border-bottom: 4px solid white;
    margin-bottom: -18px;
    padding-bottom: 16px;
    > a {
      color: white;
      text-decoration: none;
    }

  }
  color: white;
  text-decoration: none;
}

.desktopMenuTitle {
  flex: 0 0 200px;
}

.desktopMenuLogo {
  width: 210px;
  padding-right: 16px;
  box-sizing: content-box;
}
