$olivePurple: #7c00ed;
$oliveDarkPurple: #1f003e;
$oliveSecondary1: #e5d0ff;
$oliveSecondary2: #6b00c4;
$oliveSecondary3: #46007e;
$oliveNeutral1: #f8f8f8;
$oliveNeutral2: #d7d7d7;

$oliveAccentGreen: #c4ff00;
$oliveAccentBlue: #3ecdff;
$oliveAccentPurple: #9e28b5;
$oliveAccentMagenta: #ea098b;
$oliveAccentOrange: #ffa000;
$oliveAccentYellow: #ffff00;

$primaryThemeColor: $olivePurple;

$mediumGradientStart: $olivePurple;
$mediumGradientEnd: $oliveSecondary2;

$darkGradientStart: $oliveSecondary2;
$darkGradientEnd: $oliveSecondary3;

$lightGradientStart: $oliveNeutral1;
$lightGradientEnd: $oliveNeutral2;

$primaryThemeFade: #833df5;
$hoverColor: #b388ff;
$codeBorderColor: #e8dbff;
$lightestAccent: #faf6ff;

$primaryFont: 'Circular', sans-serif;

$fiveXlFontSize: 72px;
$fourXlFontSize: 48px;
$threeXlFontSize: 36px;
$twoXlFontSize: 24px;

$headerFontWeight: 300;

$mobileTitleSize: 36px;
$mobileHeader1Size: 24px;
$mobileHeader2Size: 20px;
$mobileDescriptionSize: 16px;

$pageHeaderFontSize: 72px;
$pageHeaderFontSizeMobile: $mobileTitleSize;
$pageHeaderFontWeight: 300;

$headerSubtextSize: 22px;
$headerSubtextSizeMobile: $mobileDescriptionSize;
$headerSubtextWeight: 300;

$sectionTitleFontSize: 56px;
$sectionTitleFontSizeMobile: $mobileHeader1Size;
$sectionTitleFontWeight: 200;

$sectionDescriptionFontSize: 22px;
$sectionDescriptionFontSizeMobile: $mobileDescriptionSize;
$sectionDescriptionFontWeight: 200;
$sectionDescriptionLineHeight: 1.5em;

$aptitudeTitleFontSize: 24px;
$aptitudeTitleFontSizeMobile: $mobileHeader2Size;
$aptitudeTitleFontWeight: 200;

$aptitudeDescriptionFontSize: 16px;
$aptitudeDescriptionFontSizeMobile: $mobileDescriptionSize;
$aptitudeDescriptionFontWeight: 300;

$guideTitleFontSize: 40px;
$guideTitleFontSizeMobile: $mobileHeader2Size;
$guideTitleFontWeight: 300;

$bodyFontSize: 16px;
$bodyFontWeight: 400;

$needHelpTitleFontSize: 40px;
$needHelpTitleFontSizeMobile: $mobileHeader1Size;
$needHelpTitleFontWeight: 300;

$needHelpSubtextFontSize: 16px;
$needHelpSubtextFontSizeMobile: $mobileDescriptionSize;
$needHelpSubtextFontWeight: 300;

$footerTextFontSize: 14px;
$footerTextFontSizeMobile: $mobileDescriptionSize;
$footerFontWeight: 400;

$headerBackgroundColor: $oliveSecondary3;

$menuBackgroundImage: linear-gradient(to bottom left, $oliveSecondary3, $oliveSecondary3);

$menuBackgroundColor: $oliveSecondary3;
$menuTextColor: white;
$menuLinkColor: $menuTextColor;
$menuLinkColorHover: $hoverColor;

$buttonNormalRadius: 8px;
$buttonNormalBackground: $primaryThemeColor;
$buttonNormalColor: white;
$buttonNormalPadding: 8px 16px;
$buttonNormalFontSize: 16px;
$buttonNormalFontWeight: 400;

$breakpoints: (
  'mobile': (
    max-width: 767px,
  ),
  'desktop': (
    min-width: 768px,
  ),
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin mobile() {
  @include respond-to('mobile') {
    @content;
  }
}

@mixin desktop() {
  @include respond-to('desktop') {
    @content;
  }
}

@mixin breakPoint($property, $desktopValue, $mobileValue) {
  @include desktop() {
    #{$property}: $desktopValue;
  }
  @include mobile() {
    #{$property}: $mobileValue;
  }
}
