@import './global';

.aptitudeList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

  @include respond-to('sm') {
    margin: 0 -12px;
  }
}

.aptitudeItem {
  width: 100%;
  padding: 16px;
  background: white;
  box-shadow:
    4px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  text-align: left;
  transition: box-shadow 200ms;

  @include respond-to('sm') {
    width: calc(50% - 24px);
  }

  @include respond-to('md') {
    width: calc(33.33% - 24px);
  }

  &:hover {
    box-shadow:
      -8px -8px 20px rgba($oliveMedium, .25),
      8px 8px 20px rgba($oliveDark, .25);
    text-decoration: none;
  }
}

.aptitudeTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 500;
  color: $oliveVibrant;

  @include respond-to('md') {
    margin-bottom: 16px;
    font-size: 22px;
  }
}

.aptitudeTitleIcon {
  max-width: 100%;
  max-height: 24px;

  @include respond-to('md') {
    max-height: 32px;
    width: inherit;
  }
}

.aptitudeTitleLabel {
}

.aptitudeDescription {
  margin: 0;
  font-weight: 300;
  line-height: 1.35;
  color: #282828;
}

.guideList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

  @include respond-to('sm') {
    margin: 0 -12px;
  }
}

.guideItem {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px;
  color: inherit;
  background: white;
  box-shadow:
    4px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  text-align: left;
  transition: box-shadow 200ms;

  @include respond-to('sm') {
    width: calc(50% - 24px);
  }

  @include respond-to('md') {
    width: calc(33.33% - 24px);
  }

  &:hover,
  &:focus {
    box-shadow:
      -8px -8px 20px rgba($oliveMedium, .25),
      8px 8px 20px rgba($oliveDark, .25);
    color: $oliveVibrant;
    text-decoration: none;
  }
}

.guideHeader {
  flex: auto;
}

.guideTitle {
  gap: 16px;
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  transition: color 200ms;

  @include respond-to('md') {
    margin-bottom: 16px;
    font-size: 22px;
  }
}

.guideDescription {
  margin: 0 0 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #282828;
}

.guideHint {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-weight: 500;
  color: $oliveVibrant;
  white-space: nowrap;

  &:after {
    width: calc(100% - 24px - 8px - 12px);
    height: 4px;
    position: absolute;
    bottom: -4px;
    display: block;
    background: #e0d2f8;
    border-radius: 4px;
    content: '';
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 200ms;

    .guideItem:hover &,
    .guideItem:focus & {
      transform: scaleX(1);
    }
  }
}

.guideHintLabel {}

.guideHintIcon {
  position: relative;
  top: 1px;

  .guideItem:hover &,
  .guideItem:focus & {
    animation: guideHintIconDootDoot 800ms infinite;
  }

  svg {
    display: block;
  }
}

@keyframes guideHintIconDootDoot {
  50% {
    transform: translate(4px, 0);
  }
}

.needHelpBanner {
  margin-top: clamp(60px, 12vw, 140px);
  padding: clamp(16px, 12vw, 80px);
  background:
    linear-gradient(
      -45deg,
        rgba($oliveVibrant, .2),
        rgba($oliveMist, 0.5) 20%,
        rgba($oliveMist, 0.5) 80%,
        rgba($oliveVibrant, .2) 100%,
    );
  border-radius: 8px;
  text-align: center;
}

.needHelpHeader {
  margin-bottom: 24px;
}

.needHelpTitle {
  margin: 0 auto 16px;
  font-size: clamp(20px, 6vw, 50px);
  font-weight: 700;
  line-height: 1.25;
  color: $oliveVibrant;
}

.needHelpSubtext {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  font-size: clamp(18px, 4vmin, 22px);
  font-weight: 300;
  line-height: 1.5;
  color: var(--captionColor);
}

.footer {
  padding: 24px 0;
  overflow: hidden;
  background: $oliveMidnight;
  color: #fff;
}

.footerInner {
  @include inner;

  @include respond-to('sm') {
    display: flex;
    align-items: flex-start;
  }

  @include respond-to('md') {
    align-items: center;
  }
}

.footerLinks {
  flex: auto;
  margin-bottom: 16px;

  @include respond-to('sm') {
    margin-bottom: 0;
  }

  @include respond-to('md') {
    display: flex;
    margin: 0 -16px;
  }
}

.footerLink {
  position: relative;
  display: block;
  padding: 8px 0;
  font-weight: 500;
  color: inherit;
  transition: color 200ms;

  @include respond-to('md') {
    padding: 8px 16px;
  }

  &:after {
    height: 4px;
    width: calc(100% - 32px - 10%);
    position: absolute;
    bottom: 0;
    left: 8px;
    background: rgba($oliveMist, 0.25);
    border-radius: 4px;
    content: '';
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 200ms;

    @include respond-to('md') {
      left: 16px;
    }
  }

  &:hover,
  &:focus {
    color: rgba($oliveMist, 1);
    text-decoration: none;

    &:after {
      transform: scaleX(1);
    }
  }
}

.footerSocials {
  display: flex;
  margin: 0 -16px;

  @include respond-to('sm') {
    margin-top: -12px;
  }

  @include respond-to('md') {
    margin-top: 0;
  }
}

.footerSocial {
  position: relative;
  padding: 16px;
  transition: opacity 200ms;

  &:before {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow:
      inset -14px -14px 10px 0 $oliveVibrant,
      inset -14px 14px 10px 0 $oliveMedium,
      inset 14px 14px 10px 0 $oliveMedium;
    content: '';
    pointer-events: none;
    transform:
      translate(-50%, -50%)
      scale(0)
      rotate(0);
  }

  &:hover,
  &:focus {
    opacity: .8;

    &:before {
      animation: footerSocialBurst 400ms forwards;
    }
  }
}

@keyframes footerSocialBurst {
  50% {
    box-shadow:
      inset -14px -14px 10px 0 $oliveVibrant,
      inset -14px 14px 10px 0 $oliveMedium,
      inset 14px 14px 10px 0 $oliveMedium;
  }

  80% {
    opacity: 1;
  }

  100% {
    box-shadow:
      inset 0 0 0 0 $oliveVibrant,
      inset 0 0 0 0 $oliveMedium,
      inset 0 0 0 0 $oliveMedium;
    opacity: 0;
    transform:
      translate(-50%, -50%)
      scale(1)
      rotate(360deg);
  }
}

.footerSocialImage {
  width: 28px;
  display: block;
}