# This workflow will do a clean install of node dependencies, build the source code,
# and run linting/tests across different versions of node.
# For more information see:
#   https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Javascript CI

defaults:
  run:
    working-directory: ldk/javascript

on:
  push:
  pull_request:

jobs:

  build:
    
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 10.x, 12.x, 14.x ]

    steps:
      
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm set audit false
      - run: npm ci
      - run: npm audit --production --audit-level=low
      - run: npm run build --if-present
      - run: npm run lint
      - run: npm run test
      - run: npm run doc

  build-examples:
    
    runs-on: ubuntu-latest
    
    steps:

      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      
      # Build selfTestLoop example
      - run: | 
          cd examples/self-test-loop | npm i && npm run build
      
      # Build javascript-loop example
      - run: |
          cd examples/javascript-loop | npm i && npm run build

      # Build typescript-loop example
      - run: |
          cd examples/typescript-loop | npm i && npm run build

      # Build universal-example-loop example
      - run: |
          cd examples/universal-example-loop | npm i && npm run build
